#elStormProfilerTabsContent {
    background: #fff;
}
.stormProfilerCacheLog {
    cursor:pointer;
}

.stormProfilerFixed {
    position:fixed;
    bottom:0;
    left:0;
}
.stormProfilerFixed .stormProfileTabs {
    display:none;
}
.stormProfile {
    width:100%;
    z-index:1500;
}

.stormProfileButton {
    position:absolute;
    right:25px;
    bottom: 0;
    background: #000000;
    color:#fff;
    font-size: 16px;
    font-weight: bold;
    border-radius:0 !important;
}

.stormProfilerButtonContainer{
    position:relative;
}

.stormProfileTabs {
    height:400px;
    overflow-y: hidden;
}

#elStormProfilerTabsContent,
.stormProfilerPanels,
.stormProfilerLogs{
    height:350px;
    max-height:350px;
    min-height:350px;
}

.stormProfilerConsoleSide{
    height:75px;
    line-height: 75px;
    font-weight:bold;
    text-align: center;
    margin-left:0px!important;
}

.stormProfilerConsoleSide span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#stormProfilerDbQueries,
.stormProfilerDbQueriesConsole,
.stormProfilerDbQueriesEven {
    background: #21610B;
    color:#fff;
}

.stormProfilerDbQueriesOdd{
    background: #298A08;
    color:#fff;
}

#stormProfilerMemory,
.stormProfilerMemoryConsole,
.stormProfilerMemoryEven {
    background: #0B0B61;
    color: #fff;
}

.stormProfilerMemoryOdd {
    background: #0404B4;
    color: #fff;
}

#stormProfilerFiles,
.stormProfilerFilesConsole,
.stormProfilerFilesEven {
    background: #B40404;
    color: #fff;
}

.stormProfilerFilesOdd {
    background: #FF0000;
    color: #fff;
}

.stormProfilerFilesAutoConsole,
.stormProfilerFilesAutoEven {
    background:#FE2E9A;
    color:#fff;
}

.stormProfilerFilesAutoOdd {
    color:#fff;
    background:#FA58AC;
}

#stormProfilerTime,
.stormProfileTimeConsole,
.stormProfilerSpeedEven {
    background: #0B615E;
    color:#fff;
}

.stormProfilerSpeedOdd{
    background: #088A85;
    color:#fff;
}

#stormProfilerLog,
.stormProfilerLogConsole,
.stormProfilerLogEven {
    background: #4C0B5F;
    color:#fff;
}

.stormProfilerLogOdd {
    background:#6A0888;
    color:#fff;
}

#stormProfilerCache,
.stormProfilerCacheConsole,
.stormProfilerCacheEven{
    background:#610B21;
    color:#fff;
}

.stormProfilerCacheOdd{
    background:#8A0829;
    color:#fff;
}

.stormProfilerLogs {
    margin-left:0 !important;
    overflow-y: auto;
}

.stormProfilerSpacer,
.stormProfilerBaseContainer .stormProfilerBase{
    margin-bottom: 5px;
}

.stormProfilerDbQueriesEven code,
.stormProfilerDbQueriesOdd code {
    background:#fff;
 }

.stormProfilerBasePointer {
    cursor: pointer;
}

.stormActiveTab  {
    background: #fff !important;
    color:#000 !important;
}
html[dir="ltr"] body {
    margin-right: 0;
}