.ipsApp.ipsApp_admin{
    padding-top:97px;
}
html[dir="ltr"] #ipsLayout_header {
    height:100px;
}
#stormDevBar {
    background:#417ba3;
    color: #fff;
    font-size:14px;
    padding:10px 5px;
    width: 100%;
}
#stormDevBar > li {
    padding:0px 5px;
}

#stormDevBar > li > a{
    color:#fff;
    line-height: 18px;
    text-align: center;
}