.devToysDiffsAdded {
    background: #c1eab9;
    color: #124d06;
}

.devToysDiffsRemoved {
    background: #f2acac;
    text-decoration: none;
    color: #5c1414;
}

#elPrettyPrintJson{
    height:150px;
}
#elDevToysHashbox,
#elDecodedContainer,
#elEncodedContainer,
#elDevToysDiffs textarea {
    height:400px;
}

.devToysForms img {
    pointer-events: none;
}
