.stormDebugPanel {
    position: fixed;
    z-index: 1000;
    right: 0;
    top: 0;
    width:100%;
    background-color:#404040;
}

.stormDebugPanelSpacer,
.stormDebugPanel {
    height:42px;
}
@media (min-width: 980px) {
    html body {
        margin-inline-end: unset;
    }
}