.stormColumns {
    display: flex;
}

.stormColumnSmall {
    width: 100px;
    flex: 1 1 100px;
}

.stormColumnFluid {
    flex: 9999 1 100%;
}

.stormColumnHalf {
    flex: 9999 1 50%;
}

.stormColumnLarge {
    min-width: 300px;
    flex: 1 1 300px;
}

.stormColumnMedium {
    width: 250px;
    flex: 1 1 250px;
}

.stormCloseBox {
    width: 50px;
    flex: 1 1 50px;
}

.stormColumnLarge .ipsTabs,
.stormColumnLarge .ipsTabs [role="tablist"] {
    display: block;
    width:200px;
}
.stormColumnLarge .ipsTabs .ipsTabs__tab {
    max-width: 200px;
}

.stormButtons {
    display:inline-block;
    padding:5px 8px;
    border-radius: 8px;
    margin:2px 5px;
    font-weight:bolder;
    text-shadow: 0 0 1px #000;
}

.stormButtons:hover {
    color: initial;
}

.stormButtons:nth-child(n+1) {
    background-color:#006666;
}

.stormButtons:nth-child(1) {
    background-color:#0066ff;
}

.stormButtons:nth-child(2) {
    background-color:orange;
}

.stormButtons:nth-child(3) {
    background-color:green;
}

.stormButtons:nth-child(4) {
    background-color:#4d0066;
}